#menuList{
	list-style-type: none; 
	margin: 0; 
	padding: 0; 
	overflow: hidden; 
	background-color: white;
	color: black;
}
li{
	float: left;
}
a{
	display: block; 
  	padding: 14px 65px;
}
body{
	color: white;
}